@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/css/loginerrorstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body background="linear-gradient(80deg, #e83e8c, #0069d9)">
    <div class="parent">
        <div class="block">
            <p>Invalid nickname or password</p>
            <a href="#" class="register-button">Try again</a>
        </div>
    </div>
</body>
</html>