<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container-fluid">
        <div class="row bg-dark align-items-center">
            <div class="col-md-2 text-center text-white mb-3 mt-4">SOCIAL ME</div>
            <div class="col-md-4 mt-4 mb-3">
                <form class="d-flex">
                    <input type="text" class="form-control" placeholder="Искать здесь...">
                    <button class="bth btn-success ml-2">Search</button>
                </form>
            </div>
            <div class="col-md-3 d-flex offset-md-3 mt-3 text-white">
                <a href="#" class="btn btn-light mt-2  mb-3 mr-3">HOME</a>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input class="btn btn-light mt-2  mb-3 mr-3" type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 350px; background: linear-gradient(#7290d6, #36559c)">
        <div class="row align-items-center justify-content-center pt-4">
            <div style="width: 200px; height: 200px;">
                <img src="~/img/avatar-default.png" class="rounded-circle img-fluid">
            </div>
        </div>
        <div class="row align-items-center justify-content-center pt-4">
            <button class="btn btn-primary small">Change photo</button>
        </div>
        <div style="font-size: 26px;" class="row align-items-center justify-content-center text-white pt-2">
            @User.Identity.Name
        </div>
    </div>
    <div class="container-fluid" style="background-color: #35558c;">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">POSTS</div>
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">ABOUT</div>
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">FRIENDS</div>
                <div class="col-sm-3 text-center mt-3 mb-3"><a class="text-white" href="#">PHOTOS</div>
            </div>
        </div>
    </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer bg-dark font-small blue">
        <div class="text-center text-gray-dark py-3">
            © 2020 Copyright:
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
